In [83]:
!pip install scikit-learn==1.5.2

Requirement already satisfied: scikit-learn==1.5.2 in /usr/local/lib/python3.12/dist-packages (1.5.2)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.12/dist-packages (from scikit-learn==1.5.2) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn==1.5.2) (1.16.3)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn==1.5.2) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn==1.5.2) (3.6.0)

In [84]:
import pandas as pd

housing = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/housing.csv')

In [85]:
housing_clean = housing[housing['bedrooms'] > 0]
housing_clean = housing_clean[housing_clean['bathrooms'] > 0]
housing_clean = housing_clean[housing_clean['price'] < 3500000]

housing_clean['price'].max()

3418800.0

In [86]:
king_county_specific = {
    # SEATTLE NEIGHBORHOODS
"98101": "Seattle", "98104": "Seattle", "98121": "Seattle",
    "98102": "Seattle", "98112": "Seattle", "98122": "Seattle",
    "98144": "Seattle", "98103": "Seattle", "98105": "Seattle",
    "98107": "Seattle", "98115": "Seattle", "98117": "Seattle",
    "98125": "Seattle", "98109": "Seattle", "98119": "Seattle",
    "98199": "Seattle", "98106": "Seattle", "98108": "Seattle",
    "98116": "Seattle", "98118": "Seattle", "98126": "Seattle",
    "98136": "Seattle", "98146": "Seattle",

    # SOUTH KING COUNTY
    "98002": "Auburn", "98001": "Auburn", "98092": "Auburn",
    "98030": "Kent", "98031": "Kent", "98032": "Kent",
    "98042": "Covington", "98003": "Federal Way", "98023": "Federal Way",
    "98055": "Renton", "98056": "Renton", "98058": "Renton",
    "98059": "Renton", "98178": "Skyway", "98148": "Burien",
    "98166": "Burien", "98168": "Tukwila/Boulevard Park", "98188": "SeaTac",
    "98198": "Des Moines", "98038": "Maple Valley", "98010": "Black Diamond",
    "98022": "Enumclaw",

    # EASTSIDE
    "98004": "Bellevue", "98005": "Bellevue", "98006": "Bellevue",
    "98007": "Bellevue", "98008": "Bellevue", "98033": "Kirkland",
    "98034": "Kirkland", "98052": "Redmond", "98053": "Redmond",
    "98039": "Medina", "98040": "Mercer Island", "98027": "Issaquah",
    "98029": "Issaquah", "98074": "Sammamish", "98075": "Sammamish",

    # NORTH KING COUNTY
    "98133": "Shoreline", "98155": "Shoreline", "98177": "Shoreline",
    "98011": "Bothell", "98028": "Kenmore", "98072": "Woodinville",
    "98077": "Woodinville",

    # RURAL & OUTLYING
    "98014": "Carnation", "98019": "Duvall", "98024": "Fall City",
    "98045": "North Bend", "98065": "Snoqualmie", "98070": "Vashon Island",
    "98288": "Skykomish"
}
housing_clean['zipcode'] = housing_clean['zipcode'].astype(str)
housing_clean['neighborhood'] = housing_clean['zipcode'].map(king_county_specific)

king_county_incomes = {
    # SEATTLE
    "98101": 64500, "98104": 42100, "98121": 82300,
    "98102": 68400, "98112": 102400, "98122": 66200,
    "98144": 62100, "98103": 81200, "98105": 54200,
    "98107": 84500, "98115": 96200, "98117": 92100,
    "98125": 58400, "98109": 84200, "98119": 86100,
    "98199": 98500, "98106": 62100, "98108": 54200,
    "98116": 88400, "98118": 56400, "98126": 72100,
    "98136": 84200, "98146": 58200,

    # SOUTH KING COUNTY
    "98002": 42100, "98001": 74200, "98092": 82400,
    "98030": 58200, "98031": 62100, "98032": 52400,
    "98042": 84500, "98003": 54200, "98023": 68200,
    "98055": 62400, "98056": 72100, "98058": 82400,
    "98059": 94200, "98178": 62400, "98148": 54200,
    "98166": 72100, "98168": 52400, "98188": 51200,
    "98198": 58400, "98038": 92100, "98010": 82400,
    "98022": 64200,

    # EASTSIDE
    "98004": 104200, "98005": 98400, "98006": 124200,
    "98007": 76400, "98008": 92100, "98033": 102400,
    "98034": 84200, "98052": 98400, "98053": 128400,
    "98039": 204200, "98040": 128200, "98027": 102400,
    "98029": 112400, "98074": 142100, "98075": 148600,

    # NORTH KING COUNTY
    "98133": 54200, "98155": 74200, "98177": 92400,
    "98011": 82400, "98028": 88400, "98072": 102400,
    "98077": 118400,

    # RURAL
    "98014": 86200, "98019": 94200, "98024": 102100,
    "98045": 82400, "98065": 112400, "98070": 74200,
    "98288": 42100
}

housing_clean['income'] = housing_clean['zipcode'].map(king_county_incomes)

hqs = {
    # SEATTLE (2014-2015)
    "Amazon (SLU Campus)": {"lat": 47.6227, "lon": -122.3368},
    "Starbucks (HQ)": {"lat": 47.5815, "lon": -122.3353},
    "F5 Networks (HQ)": {"lat": 47.6188, "lon": -122.3518},
    "Fred Hutchinson": {"lat": 47.6248, "lon": -122.3302},
    "University of Washington": {"lat": 47.6553, "lon": -122.3035},

    # EASTSIDE (2014-2015)
    "Microsoft (Redmond HQ)": {"lat": 47.6435, "lon": -122.1308},
    "Expedia (Old HQ - Bellevue)": {"lat": 47.6163, "lon": -122.1934},
    "T-Mobile (HQ)": {"lat": 47.5804, "lon": -122.1645},
    "Nintendo of America": {"lat": 47.6695, "lon": -122.1264},
    "Costco Wholesale (HQ)": {"lat": 47.5518, "lon": -122.0468},

    # SOUTH KING (2014-2015)
    "Boeing (Renton Plant)": {"lat": 47.4791, "lon": -122.2150},
    "Boeing (Auburn Plant)": {"lat": 47.3115, "lon": -122.2215},
    "Alaska Airlines (HQ)": {"lat": 47.4474, "lon": -122.3323},
    "Blue Origin": {"lat": 47.4093, "lon": -122.2393}
}

import math

def haversine(lat1, lon1, lat2, lon2):
    """
    Calculate the great-circle distance between two points
    on the Earth (specified in decimal degrees).
    Returns distance in miles.
    """
    # Earth's radius in miles
    R = 3958.8

    # Convert decimal degrees to radians
    phi1, phi2 = math.radians(lat1), math.radians(lat2)
    dphi = math.radians(lat2 - lat1)
    dlambda = math.radians(lon2 - lon1)

    # Haversine formula
    a = math.sin(dphi / 2)**2 + \
        math.cos(phi1) * math.cos(phi2) * \
        math.sin(dlambda / 2)**2

    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))

    return R * c

# Example: Distance from Amazon SLU (2015) to Microsoft HQ (2015)
# dist = haversine(47.6227, -122.3368, 47.6435, -122.1308)

for hq, coords in hqs.items():
  housing_clean[f"{hq}_distance"] = housing.apply(lambda row: haversine(row['lat'], row['long'], coords['lat'], coords['lon']), axis=1)

housing_clean

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,University of Washington_distance,Microsoft (Redmond HQ)_distance,Expedia (Old HQ - Bellevue)_distance,T-Mobile (HQ)_distance,Nintendo of America_distance,Costco Wholesale (HQ)_distance,Boeing (Renton Plant)_distance,Boeing (Auburn Plant)_distance,Alaska Airlines (HQ)_distance,Blue Origin_distance
0,1565930130,20141104T000000,4,3.25,3760,4675,2.0,0,0,3,...,22.087031,18.192969,17.286616,14.478837,19.913167,11.442119,10.105755,9.623331,13.948337,9.088370
1,3279000420,20150115T000000,3,1.75,1460,7800,1.0,0,0,2,...,24.582160,26.258443,23.339425,21.664362,27.963015,23.234214,14.430113,7.539742,10.210967,9.902111
2,194000575,20141014T000000,4,1.00,1340,5800,1.5,0,2,3,...,7.355441,13.172234,9.759671,10.513407,14.174715,15.985038,10.089558,19.235455,8.598131,12.875538
3,2115510160,20141208T000000,3,1.75,1440,8050,1.0,0,0,3,...,23.605143,25.497619,22.519676,20.927696,27.183215,22.730597,13.777279,7.908780,9.293097,9.430174
4,7522500005,20140815T000000,2,1.50,1780,4750,1.0,0,0,4,...,4.753358,12.638158,10.543938,12.973702,12.546828,18.677171,16.569301,27.107009,16.736183,20.444405
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,5272200045,20141113T000000,3,1.50,1000,6914,1.0,0,0,3,...,4.146621,10.032392,8.949881,11.723564,9.479524,16.936484,16.964609,28.207409,18.458534,21.405612
19996,9578500790,20141111T000000,3,2.50,3087,5002,2.0,0,0,3,...,24.819899,25.994460,23.202229,21.370273,27.731477,22.550667,14.032272,6.052662,10.393532,9.281504
19997,7202350480,20140930T000000,3,2.50,2120,4780,2.0,0,0,3,...,12.756968,5.277475,8.742122,9.293996,4.463096,8.953531,16.350946,27.019462,21.366524,21.116238
19998,1723049033,20140620T000000,1,0.75,380,15000,1.0,0,0,3,...,12.077362,14.365396,11.132087,10.091827,15.925107,13.785900,5.044987,12.637043,2.361856,6.311859
19999,6147650280,20150325T000000,4,2.50,3130,5999,2.0,0,0,3,...,21.052722,18.011884,16.664441,13.930710,19.788427,11.867866,8.534958,7.600913,11.762270,6.796218

In [100]:
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_regression
from sklearn.metrics import mean_squared_error, r2_score

# 1. Generate synthetic data (Replace this with your pd.read_csv() logic)
X = pd.get_dummies(housing_clean.drop(['price', 'id', 'lat', 'long', 'zipcode', 'date', 'yr_built', 'neighborhood'], axis=1))
y = housing_clean['price']

# 2. Split into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 3. Initialize the XGBoost Regressor
# We'll start with some standard hyperparameters
model = XGBRegressor(
    n_estimators=400,
    min_child_weight=30,
    max_depth=5,
    learning_rate=0.1,
    colsample_bytree=0.3,
    colsample_bynode=0.4,
    subsample=0.7
)

# 4. Fit the model
model.fit(X_train, y_train)

# 5. Predict the model
predictions = model.predict(X_test)

# 6. Evaluate
rmse = mean_squared_error(y_test, predictions, squared=False)
r2 = r2_score(y_test, predictions)

print(f"RMSE: {rmse:.4f}")
print(f"R2 Score: {r2:.4f}")

RMSE: 105156.6538
R2 Score: 0.9087

/usr/local/lib/python3.12/dist-packages/sklearn/metrics/_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [101]:
importance_df = pd.DataFrame({'feature': X.columns, 'importance': model.feature_importances_})
importance_df['importance'] = importance_df['importance'].sort_values(ascending=False)
importance_df

                                 feature  importance
0                               bedrooms    0.008211
1                              bathrooms    0.112996
2                            sqft_living    0.106465
3                               sqft_lot    0.015471
4                                 floors    0.039637
5                             waterfront    0.077215
6                                   view    0.096176
7                              condition    0.006687
8                                  grade    0.068377
9                             sqft_above    0.038545
10                         sqft_basement    0.013149
11                          yr_renovated    0.005412
12                         sqft_living15    0.026327
13                            sqft_lot15    0.017055
14                                income    0.025283
15          Amazon (SLU Campus)_distance    0.008939
16               Starbucks (HQ)_distance    0.027837
17             F5 Networks (HQ)_distance    0.038827
18              Fred Hutchinson_distance    0.016004
19     University of Washington_distance    0.037044
20       Microsoft (Redmond HQ)_distance    0.027244
21  Expedia (Old HQ - Bellevue)_distance    0.039522
22                T-Mobile (HQ)_distance    0.007319
23          Nintendo of America_distance    0.037762
24        Costco Wholesale (HQ)_distance    0.007163
25        Boeing (Renton Plant)_distance    0.014818
26        Boeing (Auburn Plant)_distance    0.060070
27         Alaska Airlines (HQ)_distance    0.011338
28                  Blue Origin_distance    0.009105

In [89]:
!pip install lets-plot

Requirement already satisfied: lets-plot in /usr/local/lib/python3.12/dist-packages (4.8.2)
Requirement already satisfied: pypng in /usr/local/lib/python3.12/dist-packages (from lets-plot) (0.20220715.0)
Requirement already satisfied: palettable in /usr/local/lib/python3.12/dist-packages (from lets-plot) (3.3.3)
Requirement already satisfied: pillow in /usr/local/lib/python3.12/dist-packages (from lets-plot) (11.3.0)

In [102]:
from lets_plot import *
from lets_plot.mapping import as_discrete
import numpy as np

ggplot(importance_df.head(20), aes(x='feature', y='importance')) + geom_bar(stat='identity')
#

In [91]:
mini_holdout = pd.read_csv("https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/housing_holdout_test_mini.csv")

In [103]:
# Put mini holdout through normal cleaning

#mini_holdout['neighborhood'] = mini_holdout['zipcode'].map(king_county_specific)
mini_holdout['income'] = mini_holdout['zipcode'].map(king_county_incomes)
for hq, coords in hqs.items():
  mini_holdout[f"{hq}_distance"] = mini_holdout.apply(lambda row: haversine(row['lat'], row['long'], coords['lat'], coords['lon']), axis=1)

In [104]:
test = pd.get_dummies(mini_holdout.drop(['id', 'lat', 'long', 'zipcode', 'date'], axis=1))

In [106]:
test = test.reindex(columns=X.columns, fill_value=0)
mini_pred = model.predict(test)

mini_pred_df = pd.DataFrame({ "dataset": mini_pred})
mini_pred_csv = "mini-redo3-predictions.csv"
mini_pred_df.to_csv(mini_pred_csv, index=False)